__pycache__/
build/
*.egg-info/
*.so
*.mp4

tmp*
trial*/



pretrained
*.mp4
.DS_Store
workspace/log_ngp.txt
.idea

conda/
models/


*.pth
*.pt
*log.txt
log.txt

wav2lip/results/

metahuman-stream*
*.zip
FunASR_WS/
*.pem